#name{
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    margin: 2% 10%;
    white-space: nowrap;
    font-weight: 500;
}

#degree{
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    max-width: fit-content;
    margin: 2% 10%;
    white-space: nowrap;
    color: #949494;
}

#main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6%;
    
}

#content-container{
    align-items: left;
    display: block;
    max-width: 100vh;
}
img{
    width: 10vh;
    height: 10vh;
}

#status{
    font-family: 'Sora', sans-serif;
    font-size: 2vh;

}
