#progressBar {
  position: relative;
  width: 100%;
  height: 5vh;
  background-color: #ddd;
  border-radius: 10vh;
}

#barStatus {
  position: absolute;
  width: 8%;
  height: 100%;
  background-color: #44C660;
  border-radius: 10vh;
}