#main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1%;
}

#content-container{
    align-items: left;
    display: block;
    max-width: 100vh;
    margin-right: 10%;
}

#status{
    font-family: 'Sora', sans-serif;
    font-size: 3vh;
    color: #5A5A5A;
    white-space: nowrap;
    margin-bottom: 0%;
}

#application{
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    color: #5A5A5A;
    white-space: nowrap;
    margin-bottom: 0%;
}

img{
    height: 5vh;
    width: auto;
}