#header {
	background-color: #04A5FF;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	color: #ffffff;
	font-family: Sora, sans-serif;
	text-align: center;
	position: relative;
	font-weight: bold;
	font-style: oblique;
	font-size: large;
}
/* Add a black background color to the top navigation */
.topnav {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
}

/* Style the links inside the navigation bar */
.topnav a {
	align-content: left;
	color: #5A5A5A;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
	font-size: 17px;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif"
}

/* Right-aligned section inside the top navigation */
.topnav-right {
	float: right;
}
	
.main{
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	align-content: left;
	color: #5A5A5A;
	padding: 14px 14px;
	text-decoration: none;
	font-size: 25px;
	font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif"
}
