h2{
    font-family: 'Sora', sans-serif;
    font-size: 200%;
    margin-left: 45%;
    margin-bottom: 2%;
}
#main-container{
    display: flex;
    
}
#classmates-col{
    margin-left: 10%;
    display: grid;
}

.classmates-col-item{
    display: flex;
}

.progress-col{
    margin-left: 5%;
    margin-top: 1.5%;
}

#kmae-pbar {
  position: relative;
  width: 50vh;
  height: 5vh;
  background-color: #EBE1E1;
  border-radius: 10vh;
  margin-bottom: 15%;
}

#kmae-pbar-status{
  position: absolute;
  height: 100%;
  width: 30vh; /* edit this , DO NOT EXCEED 50 */
  background-color: #44C660;
  border-radius: 10vh;
}

#lm-pbar {
  position: relative;
  width: 50vh;
  height: 5vh; 
  background-color: #EBE1E1;
  border-radius: 10vh;
  margin-bottom: 15%;
}

#lm-pbar-status{
  position: absolute;
  height: 100%;
  width: 21vh; /* edit this , DO NOT EXCEED 50 */
  background-color: #44C660;
  border-radius: 10vh;
}

#v-pbar {
  position: relative;
  width: 50vh;
  height: 5vh;
  background-color: #EBE1E1;
  border-radius: 10vh;
  margin-bottom: 15%;
}

#v-pbar-status{
  position: absolute;
  height: 100%;
  width: 25vh; /* edit this , DO NOT EXCEED 50 */
  background-color: #44C660;
  border-radius: 10vh;
}

#ka-pbar {
  position: relative;
  width: 50vh;
  height: 5vh;
  background-color: #EBE1E1;
  border-radius: 10vh;
  margin-bottom: 15%;
}

#ka-pbar-status{
  position: absolute;
  height: 100%;
  width: 34vh; /* edit this , DO NOT EXCEED 50 */
  background-color: #44C660;
  border-radius: 10vh;
}

#deyb-pbar {
  position: relative;
  width: 50vh;
  height: 5vh;
  background-color: #EBE1E1;
  border-radius: 10vh;
  margin-bottom: 15%;
}

#deyb-pbar-status{
  position: absolute;
  height: 100%;
  width: 39vh; /* edit this , DO NOT EXCEED 50 */
  background-color: #44C660;
  border-radius: 10vh;
}

#jo-pbar {
  position: relative;
  width: 50vh;
  height: 5vh;
  background-color: #EBE1E1;
  border-radius: 10vh;
  margin-bottom: 15%;
}

#jo-pbar-status{
  position: absolute;
  height: 100%;
  width: 32vh; /* edit this , DO NOT EXCEED 50 */
  background-color: #44C660;
  border-radius: 10vh;
}


#user-pbar {
  position: relative;
  width: 50vh;
  height: 5vh;
  background-color: #EBE1E1;
  border-radius: 10vh;
  margin-bottom: 15%;
  margin-left: 10%;
  margin-top: 1.5%;
}

#user-pbar-status{
  position: absolute;
  height: 100%;
  width: 50vh; /* USER STATUS (demo tester) edit this , DO NOT EXCEED 50 */
  background-color: #44C660;
  border-radius: 10vh;
}

#stories-container{
    margin-left: 5%;
}

#test{
  margin-top: 4%;
  margin-left: 30%;
  margin-bottom: -10%;
  display: flex;
}
