#display-col{
    margin: 3% -19%;
/*    max-width: 65vh;
    max-height: 72vh;*/
}

.font1 {
    margin: 0% 6%;
    font-size: 6vh;
    font-family: 'Sora', sans-serif; 
}

.font2 {
    font-family: 'Roboto', sans-serif;        
    font-size: 2vh;
    max-width: fit-content;
    /*margin: 2% 0% 0% 0%;*/
    white-space: nowrap;
    color: #949494;
}

.font3 {
    font-family: 'Sora', sans-serif;      
    font-size: 3vh;
    border-style: solid;
    width: 20vh;
    white-space: nowrap;
    color: #FFFFFF;
}

button{
    border-radius: 40px;
    margin-left: auto;
    margin-right: 51%;
    height: 5vh;
}

input{
    border-radius: 15px;
    border-style: solid;
    border-color: #000000;
    padding-left:15px;
    padding-right:15px;
    width: 80vh;
    height: 5vh;
    margin-bottom: 3%;
    font-family: 'Roboto', sans-serif;
}

select{
    border-radius: 14px;
    border-style: solid;
    padding-left:15px;
    padding-right:15px;    
    width: 84vh;
    height: 5vh;
    margin-bottom: 3%;
    font-family: 'Roboto', sans-serif;
}

textarea{
    border-radius: 15px;
    border-style: solid;
    padding:15px;
    width: 80vh;
    height: 8vh;
    margin-bottom: 3%;
    font-family: 'Roboto', sans-serif;
}

#button-link{
    margin: 0% 20% -50% 33%;  
}
